---
import { Carousel } from "@/components/Carousel";
// Define testimonials/opinions data
const humanOpinions = [
  {
    "src": "/design/image-1.png"
  },
  {
    "src": "/design/image-2.png"
  },
  {
    "src": "/design/image-3.png"
  },
  {
    "src": "/design/image-4.png"
  },
  {
    "src": "/design/image-5.png"
  },
  {
    "src": "/design/image-6.png"
  }
];
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>My</span>
        <span class="font-bold">designs</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="flex justify-center text-secondary gap-6 pt-2 mt-8">
      <Carousel data={humanOpinions} client:idle />
    </div>
  </div>
</section>
