---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-3 text-secondary gap-6">
      <p
        class="text-base lg:col-start-1 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Hey there! I'm Alisha Ostberg, a passionate advocate for social change
        and equity. With a background in strategic communication, fundraising,
        and event planning, I'm dedicated to making a positive impact in our
        community.
      </p>
      <p
        class="text-base lg:col-start-2 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        From spearheading successful fundraising campaigns to crafting compelling communication strategies, I thrive on bringing creative solutions to the table. 
      </p>
      <p
        class="text-base lg:col-start-3 leading-relaxed"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        My commitment to serving underserved communities, coupled with a genuine passion for making a difference, drives me to push boundaries and create meaningful change. 
      </p>
    </div>
  </div>
</section>
